*{
    font-size: 40px;
    text-align: center;
}

div div {
border: blue 1px solid;
height: 100%;
}

.GridContainer{
    height: 90vh;
    display: grid;
    grid-template-areas: 'header header header header header'
   ' menu main main right right'
   ' menu main main right right'
   ' menu footer footer footer footer'
    ;
}

.item1{
    grid-area: header;
}

.item2{
    grid-area: menu;
}

.item3{
    grid-area: main;
}

.item4{
    grid-area: right ;
}

.item5{
    grid-area: footer;
}

@media  only screen and (max-width:600px) {
    .GridContainer{
        height: 90vh;
        display: grid;
        background-color: cadetblue;
        grid-template-areas: 'header '
       ' menu '
       ' main '
       ' right '
       ' footer'
        ;
    }    

}

@keyframes identifier {
    
}